<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ethioptech.covid19">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".CallActivity"
            android:label="ነፃ የስልክ"/>
            <activity android:name=".Main2Activity"
            android:launchMode="singleTop"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/Main2ActivityTheme" />
        <activity
            android:name=".CovidPatient"
            android:parentActivityName=".MainActivity"
            />
        <activity
            android:name=".HowToUseMask"
            android:label="ጭምብል አጠቃቀም"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".News"
            android:label="አዲስ ነገር"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".WashingHand"
            android:label="እጅ አስተጣጠብ"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".PreventionActivity"
            android:label="መከላከያ መንገዶች"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".TransmissionActivity"
            android:label="መተላለፊያ መንገዶች"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".SymptomActivity"
            android:label="ምልክቶች"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".QuestionActivity"
            android:label="ጥያቄ"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Introduction"
            android:label="የኮሮና ቫይረስ ምንነት"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name=".models.Alarm" />
    </application>

</manifest>